.overlay {
    display: none;
    cursor: move; /* fallback if grab is not supported */
    cursor: grab;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: var(--screen-overlay-color);
}

.overlay.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: overlayAnim $animation-duration ease-in-out forwards;
}

#drag-overlay::before {
    content: $md-cloud_upload;
    display: block;
    font-family: 'Material Icons';
    font-size: 5rem;
    color: var(--text-color);
    animation: overlayAnim $animation-duration ease-in-out forwards;
}

#progress-overlay .progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
    margin: 1rem 2rem;
    height: 0.33rem;
    background-color: var(--overlay-color);
}

#progress-overlay .progress-bar {
    width: 0%;
    height: 0.33rem;
    background-color: var(--primary-color);
    animation: overlayAnim $animation-duration ease-in-out forwards;
    transition: width $animation-duration linear;
    border-radius: 0.33rem;
}

@keyframes overlayAnim {
    from {
        opacity: 0;
        backdrop-filter: none;
    }
    to {
        opacity: 1;
        backdrop-filter: $screen-overlay-backdrop;
    }
}