header {
    font-size: $nav-font-size;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    background-color: var(--surface-color);
    border-bottom: solid 1px var(--overlay-color);
}

header span::before {
    content: $md-storage;
    display: inline;
    font-family: 'Material Icons';
    font-size: $font-size;
    margin-right: 0.5rem;
}