/* Default, light theme */
body {
    --base-color: $light-base-color;
    --surface-color: $light-surface-color;
    --overlay-color: $light-overlay-color;
    --menu-color: $light-menu-color;
    --text-color: $light-text-color;
    --primary-color: $light-primary-color;
    --red-color: $light-red-color;
}

/* If light theme and switch is checked, use dark theme */
body:has(#theme-switcher:checked) {
    --base-color: $dark-base-color;
    --surface-color: $dark-surface-color;
    --overlay-color: $dark-overlay-color;
    --menu-color: $dark-menu-color;
    --text-color: $dark-text-color;
    --primary-color: $dark-primary-color;
    --red-color: $dark-red-color;
}

@media (prefers-color-scheme: dark) {
    /* Default dark theme if browser prefers dark theme */
    body {
        --base-color: $dark-base-color;
        --surface-color: $dark-surface-color;
        --overlay-color: $dark-overlay-color;
        --menu-color: $dark-menu-color;
        --text-color: $dark-text-color;
        --primary-color: $dark-primary-color;
        --red-color: $dark-red-color;
    }

    /* If dark theme and switch is checked, use light theme */
    body:has(#theme-switcher:checked) {
        --base-color: $light-base-color;
        --surface-color: $light-surface-color;
        --overlay-color: $light-overlay-color;
        --menu-color: $light-menu-color;
        --text-color: $light-text-color;
        --primary-color: $light-primary-color;
        --red-color: $light-red-color;
    }
}

/* Styling the switch, using Material Icons */
#theme-switcher:before {
    display: block;
    position: relative;
    top: -0.75rem;
    left: -1.25rem;
    content: $md-invert_colors;
    font-family: 'Material Icons';
    font-size: 1.5rem;
    color: var(--text-color);
}
#theme-switcher:checked:before {
    content: $md-invert_colors_off;
}
#theme-switcher {
    background-color: transparent;
    border: none;
    width: 0px;
    height: 0px;
}