@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Color scheme based on https://rosepinetheme.com/palette/ */

:root {
    /* Fonts */
    --main-font: 'Noto Sans', sans-serif;
    --font-size: 1.25rem;
    --nav-font-size: 1.7rem;
    --menu-font-size: 1rem;

    /* Colors */
    --light-base-color: #FAF4ED;
    --light-surface-color: #FFFAF3;
    --light-overlay-color: #F2E9E1;
    --light-text-color: #575279;
    --light-primary-color: #286983;
    --light-red-color: #B4637A;

    --dark-base-color: #232136;
    --dark-surface-color: #2A273F;
    --dark-overlay-color: #393552;
    --dark-text-color: #E0DEF4;
    --dark-primary-color: #3E8FB0;
    --dark-red-color: #EB6F92;


    /* Other */
    --border-radius: 0.25rem;
    --animation-duration: 0.2s;
}

body {
    --base-color: var(--light-base-color);
    --surface-color: var(--light-surface-color);
    --overlay-color: var(--light-overlay-color);
    --text-color: var(--light-text-color);
    --primary-color: var(--light-primary-color);
    --red-color: var(--light-red-color);
}
body:has(#theme-switcher:checked) {
    --base-color: var(--dark-base-color);
    --surface-color: var(--dark-surface-color);
    --overlay-color: var(--dark-overlay-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);
    --red-color: var(--dark-red-color);
}

@media (prefers-color-scheme: dark) {
    body {
        --base-color: var(--dark-base-color);
        --surface-color: var(--dark-surface-color);
        --overlay-color: var(--dark-overlay-color);
        --text-color: var(--dark-text-color);
        --primary-color: var(--dark-primary-color);
        --red-color: var(--dark-red-color);
    }
    body:has(#theme-switcher:checked) {
        --base-color: var(--light-base-color);
        --surface-color: var(--light-surface-color);
        --overlay-color: var(--light-overlay-color);
        --text-color: var(--light-text-color);
        --primary-color: var(--light-primary-color);
        --red-color: var(--light-red-color);
    }
}

#theme-switcher:before {
    display: block;
    position: relative;
    top: -0.75rem;
    left: -1.25rem;
    content: "\e891";
    font-family: 'Material Icons';
    font-size: 1.5rem;
    color: var(--text-color);
}
#theme-switcher:checked:before {
    content: "\e0c4";
}
#theme-switcher {
    background-color: transparent;
    border: none;
    width: 0px;
    height: 0px;
}


body {
    font-family: var(--main-font);
    font-size: var(--font-size);
    background-color: var(--base-color);
    transition: background-color var(--animation-duration) ease-in-out;
    color: var(--text-color);
    margin: 0;
}

/* Header bar */
header {
    font-size: var(--nav-font-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    background-color: var(--surface-color);
    border-bottom: solid 1px var(--overlay-color);
}

/* Directory entry */
.entry {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.edit-entries {
    margin-top: 1rem;
}

.edit-entries .entry {
    margin-top: 0.25rem;
}

.entry a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    color: var(--text-color);
    border-radius: var(--border-radius);
    transition: color var(--animation-duration) ease-in-out,
    background-color var(--animation-duration) ease-in-out;
}

.entry a:hover,
.entry a:focus {
    color: var(--primary-color);
    background-color: var(--overlay-color);
}

/* Context menu */
.entry .hamburger,
.entry .create-btn {
    font-size: 0;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color var(--animation-duration) ease-in-out,
}

.entry .hamburger:hover,
.entry .hamburger:focus,
.entry .create-btn:hover,
.entry .create-btn:focus {
    background-color: var(--overlay-color);
}

.entry .create-btn {
    margin-right: 1rem;
}

.entry .hamburger::before {
    font-size: var(--font-size);
    display: block;
    font-family: 'Material Icons';
    content: "\e5d4";
}
.entry.create-file .create-btn::before {
    font-size: var(--font-size);
    display: block;
    font-family: 'Material Icons';
    content: "\e2c3";
}
.entry.create-directory .create-btn::before {
    font-size: var(--font-size);
    display: block;
    font-family: 'Material Icons';
    content: "\e2cc";
}

.entry .edit .menu,
.entry .create-form {
    position: absolute;
    z-index: 100;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    border: 1px solid var(--overlay-color);
}
.entry .create-form {
    left: 0;
    top: 1.75rem;
}

.entry .edit .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry .edit .menu li form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.entry .edit .menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem 0;
    border-radius: var(--border-radius);
    padding: 0.25rem 0.5rem;
    transition: color var(--animation-duration) ease-in-out, background-color var(--animation-duration) ease-in-out;
}

.entry .edit .menu li:hover,
.entry .edit .menu li:focus {
    color: var(--primary-color);
    background-color: var(--overlay-color);
}

.entry .edit .menu li.destructive:hover,
.entry .edit .menu li.destructive:focus {
    color: var(--red-color);
}

.entry .edit .menu li::before {
    display: inline;
    font-family: 'Material Icons';
    content: "";
}

.entry .edit .menu li.delete-option::before {
    content: "\e92b";
}
.entry .edit .menu li.cut-option::before {
    content: "\e14e";
}
.entry .edit .menu input {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
}

.create-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create-form input[type="submit"],
.create-form input::file-selector-button {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color var(--animation-duration) ease-in-out;
}

input {
    font-family: var(--main-font);
    font-size: var(--menu-font-size);
}

.create-form input[type="submit"]:hover,
.create-form input[type="submit"]:focus,
.create-form input::file-selector-button:hover,
.create-form input::file-selector-button:focus {
    background-color: var(--overlay-color);
}

.create-form input[type="text"]::placeholder {
    color: var(--overlay-color);
}

.create-form input[type="text"] {
    outline: none !important;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color var(--animation-duration) ease-in-out;
}

/* Context menu visibility */
.entry .edit .menu,
.entry .create-form {
    display: none;
}
.entry:focus-within .edit .menu,
.entry:focus .edit .menu,
.entry:focus-within .create-form,
.entry:focus .create-form {
    display: block;
    animation: fadeIn var(--animation-duration) ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}