.create-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create-form input[type="submit"],
.create-form input::file-selector-button {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: $border-radius;
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color $animation-duration ease-in-out;
}

.create-form input {
    font-family: $main-font;
    font-size: $menu-font-size;
    outline: none !important;
}

.create-form input[type="submit"]:hover,
.create-form input::file-selector-button:hover {
    background-color: var(--overlay-color);
}

.create-form input[type="text"]::placeholder {
    color: var(--overlay-color);
}

.create-form input[type="text"] {
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: $border-radius;
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color $animation-duration ease-in-out;
}

.create-form {
    left: 0;
    top: 1.75rem;
    position: absolute;
    z-index: 100;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: $border-radius;
    background-color: var(--menu-color);
    backdrop-filter: $menu-backdrop;
    border: 1px solid var(--overlay-color);
}

.create-btn::before {
    font-size: $font-size;
    display: block;
    font-family: 'Material Icons';
}

.entry.create-file .create-btn::before {
    content: $md-cloud_upload;
}

.entry.create-directory .create-btn::before {
    content: $md-create_new_folder;
}

.entry.paste .create-btn::before {
    content: $md-content_paste;
}

.entry .create-btn:hover {
    background-color: var(--overlay-color);
}

.create-btn {
    font-size: 0;
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: $border-radius;
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color $animation-duration ease-in-out,
}

.create-entries {
    margin-top: 1rem;
}

.create-entries .entry {
    margin-top: 0.25rem;
}