.create-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.create-form input[type="submit"],
.create-form input::file-selector-button {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color var(--animation-duration) ease-in-out;
}

.create-form input {
    font-family: var(--main-font);
    font-size: var(--menu-font-size);
}

.create-form input[type="submit"]:hover,
.create-form input[type="submit"]:focus,
.create-form input::file-selector-button:hover,
.create-form input::file-selector-button:focus {
    background-color: var(--overlay-color);
}

.create-form input[type="text"]::placeholder {
    color: var(--overlay-color);
}

.create-form input[type="text"] {
    outline: none !important;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color var(--animation-duration) ease-in-out;
}

.create-form {
    left: 0;
    top: 1.75rem;
    position: absolute;
    z-index: 100;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    border: 1px solid var(--overlay-color);
}

.create-btn::before {
    font-size: var(--font-size);
    display: block;
    font-family: 'Material Icons';
}

.entry.create-file .create-btn::before {
    content: "\e2c3";
}

.entry.create-directory .create-btn::before {
    content: "\e2cc";
}

.entry .create-btn:hover,
.entry .create-btn:focus {
    background-color: var(--overlay-color);
}

.create-btn {
    font-size: 0;
    margin-right: 1rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: var(--border-radius);
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color var(--animation-duration) ease-in-out,
}

.create-entries {
    margin-top: 1rem;
}

.create-entries .entry {
    margin-top: 0.25rem;
}