.entry .hamburger {
    font-size: 0;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: solid 1px var(--overlay-color);
    border-radius: $border-radius;
    background-color: var(--surface-color);
    color: var(--text-color);
    transition: background-color $animation-duration ease-in-out,
}

.entry .hamburger:hover {
    background-color: var(--overlay-color);
}

.entry .hamburger::before {
    font-size: $font-size;
    display: block;
    font-family: 'Material Icons';
    content: $md-more_vert;
}


.entry .edit .menu {
    position: absolute;
    z-index: 100;
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: $border-radius;
    background-color: var(--menu-color);
    backdrop-filter: $menu-backdrop;
    border: 1px solid var(--overlay-color);
}

.entry .edit .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.entry .edit .menu li form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.entry .edit .menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem 0;
    border-radius: $border-radius;
    padding: 0.25rem 0.5rem;
    transition: color $animation-duration ease-in-out, background-color $animation-duration ease-in-out;
}

.entry .edit .menu li:hover {
    color: var(--primary-color);
    background-color: var(--overlay-color);
}

.entry .edit .menu li.destructive:hover {
    color: var(--red-color);
}

.entry .edit .menu li::before {
    display: inline;
    font-family: 'Material Icons';
}

.entry .edit .menu li.delete-option::before {
    content: $md-delete;
}

.entry .edit .menu li.cut-option::before {
    content: $md-cut;
}
.entry .edit .menu input {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
}